<!doctype html>
<title>{% block title %}{% endblock %}Robot Control Interface</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a style="padding:0px;" href="{{ url_for('index') }}"><img style="width:80px;padding: 5px 0px 0px 0px;" src="/static/cloudcar_logo.png"></a></h1>
 
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

