{% extends 'base.html' %}
{% block content %}
<div class="frameblock">
    <div id="path">
        <h3 id="path_text">Path History</h3>
        <iframe src="/static/move.html" width="580" height="452" frameborder="0" style="border:0" alt="this"></iframe> 
    </div>
    <div id="video">
        <h3>Video Feed</h3>
        <img src="{{ url_for('video_feed') }}" alt="video" width="580" height="452" >
    </div> 

    <div class="frameblock2">
        <iframe src="/static/displayData.html" id="datatable"></iframe>

        <div id="controls">
            <h3>Controls</h3>
            <div syle="clear:both; float:none; display:block;">
                <a href="{{ url_for('home') }}"><img style="margin-left:55px;" width="50" src="/static/css/up.png"></a>
                <a href="#"><img style="border-style:dashed; margin-left:76px;" width="150" src="/static/css/auto.png"></a>
                <a href="#"><img style="border-style:dashed; margin-left:20px;" width="190" src="/static/css/manual.png"></a>
            </div>
            <div syle="clear:both; float:none; display:block;">
                <a href="#"><img width="50" src="/static/css/left.png"></a>
                <a href="#"><img width="50" src="/static/css/down.png"></a>
                <a href="#"><img width="50" src="/static/css/right.png"></a>
                <a href="#"><img style="border-style:dashed; margin-left:20px;" width="150" src="/static/css/liftup.png"></a>
                <a href="#"><img style="border-style:dashed; margin-left:20px;" width="190" src="/static/css/liftdown.png"></a>
            </div>
        </div>
    <div style="display:block; clear:both; float:none;">&nbsp</div>
</div>
{% endblock %} 