<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/js/setting.js" ></script>
    <title>Document</title>
</head>
<body onload="getData()">
    <table>
        <tr>
            <th style="border-top-left-radius: 8px;">Velocity</th>
            <td>{{ velocity }} meters per second</td>
        </tr>
        <tr>
            <th>Direction</th>
            <td>{{ direction }} degrees from origin</td>
        </tr>
    
        <tr>
            <th>Power Usage</th>
            <td>{{ power }} watts</td>
        </tr>
        <tr>
            <th style="border-bottom-left-radius: 8px;">Object Detected</th>
            <td>{{ det_object }}</td>
        </tr>
    
    </table> 
</body>
</html>